body{
    margin: 0;
    padding: 0;
}
header {
    background-image: url(../img/slidebg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    padding-top: 15px;
}
    nav {
        background-color: black;
        min-width: 1200px;
        max-width: 1400px;
        height: 125px;
        margin: 0 auto 0 auto;
    }
    nav #logo {
        margin: 23px;
        float:left;
    }

    nav #logo img {
        height: 75px;
    }
    nav ul{
        display:flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
    }
    nav ul li{
        color:aliceblue;
        font-size: 16px;
        font-family: Montserrat, sans-serif;
        list-style:none;
        text-decoration:none;
        float:left;
        margin: 50px 20px 0px 20px;
    }
    nav ul li a {
        text-decoration: line-through;
        padding: 25px 20px 25px 0;
        float: left;
    }
    nav menu_principal {
        float:right;
    }

    #menu_principal li span {
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    color: rgb(134,134,134);
    margin-right: 3px;
    margin-top: 5px;

    }

    #menu_principal li a{
        color:white;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: line-through;
        transition: 1s;
    }
    #menu_principal li a:hover {
        color: orange;
        transition: 1s;
        text-decoration: line-through;
    }

    section {
        background-image: url(../img/divider-dark.png);
        width: 100%;
        height: 500px;
        background-repeat: repeat-x;
        padding-top: 100px;
    }
    .icons{
       
        height: 120px;
        width: 345px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
    .icons .icon img{
        width: 115px;
    }

    .txt{
        height: 100px;
        width: 100%;
    }
    .txt{
        width: 850px;
        margin: 0 auto;
    }
    .txt h6{
        font-size: 28px;
        font-weight: 300;
        width: 80%;
        display: inline-block;
        line-height: 40px;
        font-family: 'Roboto Slab', serif;
        text-align: center;
        margin: 0;
        margin-left: 95px;
        margin-top: 40px;
    }
    .header h4{
        color: #e7a920;
        text-transform: uppercase;
        letter-spacing: 11px;
        font-weight: 300;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        text-align: center;
        margin:0;
    }

    .header h1{
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        font-size: 85px;
        text-transform: uppercase;
        color: #000;
        text-align: center;
        font-style: italic;
        margin:0;
    }
    
    /*--------------------------trabalhos-----------------------------*/
    
    #trabalhos{
        background-color: blue;
    }
    